@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Heebo:wght@600&family=Montserrat:wght@200&family=Mulish:wght@500&family=Poppins:wght@200;500&family=Questrial&display=swap');

:root {
    --bg-color: #e0e0e0;
    --font-secondary-color: #616161;
    --font-primary-color: #3f3c3c;
}

* {
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
    padding: 0;
    /* padding: 5rem; */
    justify-content: space-around;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

main {
    box-sizing: border-box;
    /* margin: 0 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    /* color: var(--font-gray); */
    margin: 1rem 5rem 5rem;
    padding: 0 5rem;
    /* background-color: green; */
    border-bottom: 1px solid black;
}

#home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 2rem; */
}

/* #home-introduction {
    margin: 5rem;
} */



#greet p {
    font-size: 1.5rem;
    font-family: Mulish, sans-serif;
    letter-spacing: 3px;
}

#name p {
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 1rem 0;
    color: var(--font-primary-color);
}

#home-slogan .line-1 {
    position: relative;
    width: 14.75em;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 2rem;
    font-weight: bold;
    color: var(--font-primary-color);
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
}

.anim-typewriter {
    animation: typewriter 2s steps(44) 1s 1 normal both,
        blinkTextCursor 600ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 14.90em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(48, 45, 41, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

#home-intro p {
    font-size: 1.8rem;
    color: var(--font-secondary-color);
    /* line-height: 3rem; */
    margin-top: 1rem;
}

#home-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: green; */
    width: 30%;
    margin-top: 3rem;
}

.home-social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    /* box-shadow: 0 1px 10px 1px rgb(29, 28, 28); */
    border-radius: 37px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 6px 6px 12px #a4a4a4,
        -6px -6px 12px #ffffff;

    /* margin: 0 1rem; */
    padding: 0.8rem;
}

.home-social:hover {
    text-align:center;
    opacity: 1;
    color:#fff;
    border-radius:50%;
    animation: bounce .2s infinite alternate;
  }
  @keyframes bounce {
    to { transform: scale(1.05); }
  }

.home-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* color: rgba(44, 38, 38, 0.8); */
    opacity: 0.8;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

.home-social a:hover,
.home-social a:focus,
.home-social a:active {
    filter: contrast(120%);
    opacity: 1;
}

.home-social .fa-github:hover {
    color: black;
}

.home-social .fa-linkedin:hover {
    color: #0A66C2;
}

.home-social .fa-envelope:hover {
    color: #4285F4;
}

#profile-image-mobile {
    display: none;
}

#nav-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 3rem;
    margin: 0 5rem;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.brand-name {
    width: fit-content;
    margin-left: 2rem;
    width: 100%;
    /* background-color: pink; */
}


#nav-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-betwee; */
    width: 100%;
    height: 6rem;
    position: fixed;
    margin-bottom: 1rem;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 5px 5px 10px #d9d9d9,
    -5px -5px 10px #e7e7e7;
    z-index: 1;
    border-bottom: 0.5px solid rgb(221, 217, 217);
}

#nav-links {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    align-items: flex-end;
    width: 100%;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: var(--font-secondary-color);
    margin: 0 2rem;
    width: 100%;
    border-bottom: 1px solid transparent;
    font-size: 1rem;
    width: fit-content;
}

.nav-link:hover,
.nav-link:focus {
    color: black;
    filter: contrast(120%);
    font-weight: bolder;
}

.nav-link.active {
    color: #9b6c0e;
    filter: contrast(120%);
    border-bottom-color: #8f6208;
}


#about {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    margin: 5rem;
    padding: 0 5rem;
    height: fit-content;
    width: fit-content;
    /* background-color: green; */
    border-bottom: 1px solid black;
    width: 100%;
}

#skill-header {
    /* font-size: 1rem; */
    margin: 6rem 0 0;
    letter-spacing: 2.5px;
}

#skills {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    /* padding: 5rem; */
    width: 100%;
}


.skill {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    /* border-radius: 20px; */
    margin: 0 1rem 2rem;
    /* margin-bottom: 1rem; */
    /* height: 280px; */
    height: 18rem;
    /* width: 380px; */
    width: 20rem;
    /* box-shadow: 0 1px 10px 0.5px rgb(29, 28, 28);   */
    padding: 1rem;
    border-radius: 30px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 10px 10px 25px #a6a6a6,
        -10px -10px 25px #ffffff;
}

.skill-content {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* .skill-name {
    margin: 0;
} */

.skill-name p {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0.5rem 0;
}

.skill-icon img {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 0.1rem 0;
    height: 60px;
    width: 60px;
}

.skill-description {
    margin: 0;
}

.skill-description p {
    margin: 0;
    font-size: 0.9rem;
    /* font-weight: 700; */
    /* line-height: 1.2rem; */
    /* letter-spacing: 0.5px; */
    word-spacing: 1px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    padding: 0 5rem;
    height: fit-content;
    width: fit-content;
    /* background-color: green; */
    border-bottom: 1px solid black;
}

#projects-header {
    margin: 1rem;
    letter-spacing: 2.5px;
}
#projects-header h1{
    /* font-size: 1rem; */
    margin: 6rem 0 0;
}

#project-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: fit-content;
    /* height: 100vh; */
    /* margin: 5rem; */
}

.project {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    margin: 0 0.5rem 2rem;
    padding: 40px;
    height: 380px;
    width: 400px;
    /* background-color: #e0c794; */
    /* box-shadow: 0 1px 10px 1px rgb(29, 28, 28); */
    border-radius: 37px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 12px 12px 24px #bebebe,
        -12px -12px 24px #ffffff;
}

.project-link {
    display: flex;
    /* align-items: flex-start; */
    align-self: flex-start;
    /* align-items: center; */
    justify-content: center;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    cursor: pointer;
}

.project-link img {
    border-radius: 20px;
    height: 260px;
    width: 100%;
    transition: all 0.1s ease-in-out;
}

.project-link:hover {
    filter: contrast(110%);
    transform: scale(1.01);
}

.project-name {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
}



.project-name .name {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.project-name .fa-github {
    text-decoration: none;
    color: rgba(44, 38, 38, 0.6);
    color: var(--font-secondary-color);
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.project-name .fa-github:hover {
    filter: contrast(180%);
}

.project-description {
    align-self: flex-start;
}

.project-description p {
    font-size: 1rem;
    margin: 0;
    color: var(--font-secondary-color);
}

#contacts {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 1rem;
    height: fit-content;
    width: 100%;
    padding: 6rem 15rem;
}

#contacts-header {
    font-size: 1rem;
    margin-top: 3rem;
    letter-spacing: 2.5px;
    /* height: fit-content; */
}

#contacts-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    align-items: center;
    /* margin: 1rem; */
    height: fit-content;
    width: 80%;
    padding: 0 10rem;
    /* height: fit-content; */
    justify-content: space-evenly;
    border-radius: 37px;
    /* background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff; */
}


#contact-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem;
    /* background-color: green; */
}

#contact-description {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    /* padding: 1rem; */
}

#contact-description p {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    font-size: 1.5rem;
    /* padding: 1rem; */
    margin: 0 1rem 1rem;
    font-family: Poppins, sans-serif;
    color: var(--font-secondary-color);
}

.contact {
    height: 100%;
    width: 100%;
    padding: 2rem;
    margin: 0 2rem 1rem;
    border-radius: 25px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 6px 6px 12px #a4a4a4,
    -6px -6px 12px #ffffff;
}

.contact-label {
    font-size: 1.5rem;
}

.contact-details p {
    font-size: 1.3rem;
}

.contact-icon .fa-phone {
    font-size: 2rem;
}

.contact-icon .fa-envelope {
    font-size: 2rem;
}

.contact-details {
    color: var(--font-secondary-color);
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    height: fit-content;
}


.social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: auto;
    border-radius: 50%;
    background-color: transparent;
    border-radius: 37px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 6px 6px 12px #a4a4a4,
        -6px -6px 12px #ffffff;

    margin: 0 2rem;
    padding: 0.8rem;
}

.social { 
    transition: all .1s ease-in-out; 
}

.social:hover { 
    transform: scale(1.05); 
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* color: rgba(44, 38, 38, 0.8); */
    opacity: 0.8;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.8);
}

.social a:hover,
.social a:focus,
.social a:active {
    filter: contrast(120%);
    opacity: 1;
}

.social .fa-github:hover {
    color: black;
}

.social .fa-linkedin:hover {
    color: #0A66C2;
}

.social .fa-envelope:hover {
    color: #4285F4;
    opacity: 0.8;
}

/* #socials div {
    margin: 1rem 1rem 2rem;
} */

@media screen and (max-width: 1200px) {
    body {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
        /* align-items: center; */
        margin: 0;
        /* padding: 5rem; */
        justify-content: space-around;
        box-sizing: border-box;
        background-color: var(--bg-color);
    }

    nav {
        width: 100%;
        height: 3rem;
        padding: 0 2rem;
        margin: 0 1rem;
    }

    .brand-name {
        width: fit-content;
    }

    .brand-name p{
        font-size: 0.8rem;
        margin-right: 0;
        width: fit-content;
    }

    #nav-links {
        width: 100%;
    }
    .nav-link {
        width: fit-content;
        margin: 0 1rem;
        font-size: 0.8rem;
    }

    #home {
        margin: 6rem 0;
    }

    #home-introduction {
        margin: 0.5rem;
        letter-spacing: 1px;
        word-spacing: 1.5px;
    }

    #greet {
        font-size: 1.2rem;
    }

    #name p {
        font-size: 3rem;
    }

    #home-slogan .line-1 {
        font-size: 1.8rem;
        width: 15.80em;
    }

    .anim-typewriter {
        animation: typewriter 2s steps(44) 1s 1 normal both,
            blinkTextCursor 600ms steps(44) infinite normal;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 15.80em;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(48, 45, 41, 0.75);
        }

        to {
            border-right-color: transparent;
        }
    }

    #home-intro {
        font-size: 1.5rem;
    }

    #profile-image-mobile {
        display: flex;
        /* justify-content: center; */
        margin: 1rem 0;
    }

    #profile-image {
        display: none;
    }

    /* ABOUT SECTION  */

    #about {
        margin: 2.5rem;
        padding: 0 2.5rem;
    }

    #skill-header {
        font-size: 1.5rem;
    }

    .skill {
        margin: 0 1rem 2rem;
        height: 16rem;
        width: 20rem;
    }

    .skill-content {
        margin: 0.5rem;
    }

    .skill-name p {
        font-size: 1.1rem;
    }

    .skill-icon img {
        margin: 0.1rem;
        height: 60px;
        width: 60px;
    }

    .skill-description p {
        font-size: 0.9rem;
    }

    /* SKILLS SECTION  */

    #projects {
        margin: 2rem;
        padding: 0 2rem;
    }

    .project {
        height: 290px;
        width: 300px;
        padding: 1.5rem;
        border-radius: 30px;
    }

    .project-link {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
    }

    .project-link img {
        /* margin-top: -2.5rem; */
        height: 170px;
        width: 300px;
    }

    .project-name {
        width: 100%;
    }
    .project-name .name {
        width: 100%;
        font-size: 0.9rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .project-name .fa-github {
        font-size: 1.2rem;
    }

    .project-description p {
        font-size: 0.8rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 640px) {
    body {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
        /* align-items: center; */
        /* height: 100%; */
        padding: 0;
        margin: 0;
        /* padding: 5rem; */
        justify-content: space-around;
        box-sizing: border-box;
        background-color: var(--bg-color);
    }

    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5rem 1rem;
        padding: 0 1rem;
        height: auto;
        width: auto;
    }

    #home-content {
        padding: 1rem;
    }

    #home-introduction {
        margin: 0.2rem;
        letter-spacing: 1px;
        word-spacing: 1.5px;
    }

    #greet {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    #name {
        font-size: 2.5rem;
    }

    #home-slogan {
        font-size: 1.5rem;
    }

    #home-intro {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    #profile-image-mobile {
        display: flex;
        align-self: center;
        justify-content: center;
        margin: 1rem 0;
    }

    #profile-image-mobile img {
        margin: 1rem 0;

    }

    nav {
        width: 100%;
        height: 3rem;
        padding: 0 2rem;
        margin: 0 1rem;
    }
    
    .brand-name {
        width: 100%;
        margin-right: 0;
    }
    
    .brand-name p{
        width: fit-content;
        font-size: 0.8rem;
        margin-right: 0;
        width: fit-content;
    }


    #nav-links {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .nav-link {
        width: fit-content;
        margin: 0 .2rem;
        font-size: 0.75rem;
    }

    /* ABOUT SECTION  */

    #about {
        margin: 1rem;
        padding: 0 1rem;
    }

    #skill-header {
        font-size: 1.5rem;
    }


    .skill {
        margin: 0 0 2rem;
        height: 15rem;
        width: auto;
    }

    .skill-content {
        margin: 0.5rem;
    }

    .skill-name p {
        font-size: 1.5rem;
    }

    .skill-icon img {
        margin: 0;
        height: 50px;
        width: 50px;
    }

    .skill-description p {
        font-size: 0.8rem;
        line-height: 1.5rem;
        word-spacing: 1.5px;
    }

    /* PROJECTS SECTION  */
    #projects {
        margin: 0.2rem;
    }

    .project {
        display: flex;
        box-sizing: border-box;
        /* align-self: start; */
        align-items: center;
        justify-content: space-evenly;
        padding: 0 30px;
        height: 450px;
        width: 100%;
    }

    .project-link {
        display: flex;
        justify-content: center;
        /* height: 100%; */
        /* position: absolute; */
        /* height: 100%; */
        top: 0;
        bottom: 0;
        width: 100%;
        margin-top: 2rem;
    }

    .project-link img {
        /* margin-top: 0.5rem; */
        height: 75%;
        width: 100%;
    }

    .project-name {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        /* margin-bottom: 1rem; */
        justify-content: space-between;
    }

    .project-name .name {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .project-description {
        margin-bottom: 2rem;
    }

    .project-description p {
        font-size: 0.8rem;
    }
}